<html>
  <head>
    <title>Student Page</title>
    
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/student.operations.js"></script>
  </head>
  <body onload="loadSingleStudentDetails()">
    <h1>Student Details</h1>
    <p>
      <div>
        <table>
          <tr>
            <td><b>Student ID</b></td>
            <td><input id="txtStudentId" type="text" readonly/></td>
          </tr>
          <tr>
            <td><b>First Name</b></td>
            <td><input id="txtFirstName" type="text" readonly/></td>
          </tr>
          <tr>
            <td><b>Last Name</b></td>
            <td><input id="txtLastName" type="text" readonly/></td>
          </tr>
          <tr>
            <td><b>Age</b></td>
            <td><input id="txtAge" type="number" readonly/></td>
          </tr>
        </table>
        <br/>
        <span id="errorMessage" style="color:red"></span>
      </div>
    </p>
  </body>
</html>